/**
 * Created by Alessndro Ponte on 13/07/2018.
 */
.THIS .mensagem-erro{
    background-color: indianred;
    padding: 10px;
    text-align: center;
    color: black;
    margin-top: 5px;
}
.THIS .tr-total{
    background: rgb(250, 250, 249);
    text-transform: uppercase;
}