.THIS .esconder {
	visibility: hidden;
}

.THIS .icone {
	border: none;
    background: transparent;
}

.THIS .tr-total {
    background: #ecebea;
}

.THIS .tr-total td{
	font-size: 15px;
    font-weight: bold;
    padding-bottom: 7px;
	padding-top: 7px;
} 

.THIS .tr-total td:first-child{
	text-align: right;
}

.THIS .garantia-selecionada span, .THIS .garantia-selecionada input[type="text"] {
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
}

.THIS .green-icon, .THIS .slds-button_icon-check{
	color: white !important;
	background-color: #38c393 !important;
	border: #38c393 !important;
}