.THIS {

    
    
}

.THIS .titulo {
    font-weight: bold;
    
}

.THIS .tabela
{
  width : 100%;
    border : 1px solid #e0e1e2;
    margin : 10px;
    font-weight: none;
    text-align : left;
}

.THIS .tabela td{
    width : 50%;
	padding-left: 10px;
}

.THIS .tabela th{
	width : 50%;
    padding-left: 10px;
}

.THIS .field{
  padding: 5px;
  border: 1px solid #dce4ec;
  border-radius: 2px;
}