.THIS .icon-fill-white svg {
	fill: rgb(255,255,255);
}

.THIS .slds-theme_warning, .THIS .slds-theme--warning {
	color: rgb(255,255,255);	
}

.THIS ul.slds-list {
	margin-left: 1rem;
    list-style: unset;
}

.THIS ul > li:not(:first-child) {
	padding-top: 0.5rem;
}

@media (max-width: 600px) {
	
	.THIS .slds-notify_toast, .THIS .slds-notify--toast {
		min-width: unset;
	}
	.THIS .slds-notify span.slds-icon_container {
		display: none;
	}
	.THIS .slds-notify button.slds-button_icon {
		display: none;
	}
}