.THIS {
	width: 100%;
	position: absolute;
	left: 0px;
}

.THIS .slds-ajuste_botao-quadrado {
	width: 46px !important;
	height: 46px !important;
}

.THIS .slds-grid_vertical-align-center {
	height: 32px;
}

.THIS .slds-p-around--medium {
	padding: 0;
}

.THIS .slds-scrollable {
	min-height: 315px;
	max-height: 315px;
}

.THIS .excluir {
	border: none;
	background: transparent;
}

.THIS .w-100p {
	width: 100%;
}