.THIS .input-configurador, .THIS .slds-combobox__form-element{
	width: 80%;
}

.THIS .esconder {
    display: none;
}

.THIS .info-tabela-vazia{
	font-weight: 400;
	text-align: center;
}

.THIS .icone {
	border: none;
    background: transparent;
}

.THIS .divOverflow {
	max-height: 335px;
    overflow: auto;	
}