.THIS {
}

.THIS .hide{
	display: none;
}

.THIS .high-hide {
    display: none !important;
}

.THIS .invisivel{
    visibility: hidden;
}
/*
.THIS .slds-is-open {
    border: 2px solid #1589ee;
    border-radius: 4px;
}*/

.THIS fieldset {
    margin-left: 25px !important;
}

.THIS .slds-summary-detail{
    margin-bottom: 20px; 
}

.THIS .slds-summary-detail__content {
    font-size: 14px;
    color: #1589ee;
}

.THIS .slds-visual-picker__text-check {
    position: absolute;
    top: -0.0625rem;
    right: 0.625rem;
    width: 0.5rem;
    height: 0.5rem;
}

.THIS .slds-visual-picker {
    content: '';
    position: absolute;
    top: -14px;
    right: -14px;
    border-color: transparent;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 1rem;
    border-right-color: #1589ee;
    border-top-color: #1589ee;
}

.THIS .slds-check-picker .slds-icon {
    left: 6px;
    position: relative;
    bottom: 5px;
    fill: white !important;
}

.THIS .slds-accordion__content {
    max-height: 140px;
    overflow: auto;
}

.THIS .slds-box {
    min-height: 400px;
    max-height: 400px;
    overflow: auto;
}

.THIS .slds-box--big {
    min-height: 485px;
    max-height: 485px;
    overflow: auto;
}