/********************************************************************************************************************
* Proposta de Seguro Viagem Styles Class
* @author Edgar Peralta - Globant
* @date 10/09/2020
* Classe criada por conta da hist�ria PLV-4345
*********************************************************************************************************************/
body{
    margin: 1px 3px;
    font: 12px Arial;
}
.content{
    width: 100%;
}
.header{
    width: 100%;
}
.tableHeader td{
    width: 70%;
}
.tableHeader .headerText{
    vertical-align: middle; 
    text-align: left;
    font: normal 14px arial;
}
.tableSeparator td{
    border-top: 7px ridge rgb(70,130,180);
    font: normal 14px arial-narrow;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    margin: 20px 0px;
}
table th{
    text-align: center;
    background-color: rgb(209,208,222);
    color: rgb(75,96,171);
    font: bold 13px arial-narrow;
}
.tablePassagerio td, table.tableInformacoes td{
    border-bottom: solid 0.5px;
    height: 25px;
}
table.tableDadosDaViagem td{
    border: solid 0.5px;
    height: 30px;
}
table.tableBeneficiarios td, table.tableFromaDePagamento td, table.tableCarencias td{
    border-top: solid 0.5px;
    border-bottom: solid 0.5px;
    height: 30px;
}
.tableCoberturas td{
    vertical-align: top;
}
.tableCoberturas1 td, .tableCoberturas2 td{
    border: solid thin white;
    height: 20px;
    vertical-align: middle;
    font: 12px Arial;
}
.tableCoberturas1 tr:nth-child(even), .tableCoberturas2 tr:nth-child(even){
    background-color: rgb(0,176,240);
    height: 30px;
}
.carenciasEFranquias{
    page-break-after: always;
}
.declaracaoInformacoes, .observacoesText{
    font: 14px arial;
}
.dadosDoPassagerioFooterText{
    font-size: 11px;
    color: gray;
}
div.footer{
    font-size: 10px;
    position: fixed;
   	left: 0px;
    bottom: 0px;
}