body{
    margin: 0;
}

.success {
    text-align: center;
    background-color: rgb(253, 253, 255);
    color: rgb(131, 130, 243);
    font-weight: bold;
    width: 600px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .error {
    text-align: center;
    background-color: rgb(253, 253, 255);
    color: rgb(192, 7, 7);
    font-weight: bold;
    width: 600px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }