.THIS .slds-custom-shadow {
    -webkit-box-shadow: 1px 11px 39px 0px rgba(153,153,153,0.75)!important;
    -moz-box-shadow: 1px 11px 39px 0px rgba(153,153,153,0.75)!important;
    box-shadow: 1px 11px 39px 0px rgba(153,153,153,0.75)!important;
}

.THIS .modalfix{
    width:100%;
    height: auto;
}