
<header>
    <img 
        src="/curso-angular-portfolio/src/assets/img/uver.jpg"
        alt="Uverlanio Mauricio - Foto de Perfil"
        width="130px"
        height="129px"
        loading="eager"        
    /><!-- A propriedade loading carrega a imagem o mais rápido possível-->
    <h1>Uverlanio Mauricio</h1>
</header>

<aside>
       <div class="container">
        <p>Full-Stack Java | Angular | Javascript</p>
        <p>Taboão da Serra, São Paulo, Brasil</p>
        <p>
            Estou na área de desenvolvimento de softaware mais de 10 anos. Devido isso
            resolvi abraçar a stack JS para complementar complementar a experiência que tenho
            com Backend.
        </p>
        <nav>
            <ul>
                <li>
                    <a href="/assets/pdf/cv.pdf" 
                        target="_blank" 
                        class="btn btn-primary">
                            Download CV
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/uverlanio-mauricio-68b307294/" 
                        target="_blank" 
                        class="btn btn-secondary">
                            LinkedIn
                    </a>
                </li>
            </ul>
        </nav>
        <section>
            <figure>
                <img 
                    src="/assets/icons/whatsapp.svg"
                    alt="ìcone para contato do WhatsApp"
                    width="22px"
                    height="24px"
                    loading="eager"
                />
                <figcaption>
                    <a href="https://wa.me/5511934467033"
                    target="_blank">
                    <strong>Envie uma mensagem para:</strong>
                    <p>WhatsApp: (11) 9 3446-7033</p>
                </a>
                </figcaption>
            </figure>
            <figure>
                <img 
                    src="/assets/icons/mail.svg"
                    alt="ìcone para contato do e-mail"
                    width="22px"
                    height="24px"
                />
                <figcaption>
                    <a href="mailto:uverlanio@icloud.com"
                    target="_blank">
                    <strong>Envie um e-mail para:</strong>
                    <p>uverlanio&#64;icloud.com</p>
                </a>
                </figcaption>
            </figure>
        </section>
       </div> 
</aside>