.THIS {
}
.THIS .float_right{
    float:right
}

.THIS.assistant_address_modal {
	height: 265px;
}
.THIS.spinner-modal {
	height: 400px;
	top: unset;
    bottom: unset;
    margin-top: -1rem;
}
.THIS.slds-modal__header {
	margin: 0rem -2rem;
	padding: 0 0 1rem 0;
}
.THIS.slds-modal__body {
	margin: 0 -2rem;
}
.THIS.slds-modal__footer {
	margin: 0 -2rem;
    padding: 1.5rem 2.5rem 0 0;
    box-shadow: unset;
    background-color: #fff;
}
@media (max-width: 800px) {
	.THIS .assistant_address_modal {
		height: 100%;
	}
	.THIS.slds-modal__header {
		margin: -1rem -1rem 0rem -1rem;
		padding: 1rem 0;
	}
	.THIS.slds-modal__body {
		margin: 1rem -1rem;
		height: unset !important;
	}
	.THIS.slds-modal__footer {
		margin: 0rem -1rem -1rem -1rem;
		padding: 1rem;
	    box-shadow: unset;
	    background-color: #fff;
	}

}
.THIS .fonteVermelha{
	color: red;
}