@page :first {
    margin-top: 10mm;
    background-image: none;
    @top-left {
        content: "";
   }
    @top-center {
        content: "";
   }
    @top-right {
        content: "";
   }
}
*{
    margin: 0;
    padding:0;
    width: 100%;
}
header div{
    display: inline-block;
}
.title{
    font-size: 11px;
    color: #20639B;
    text-align: right;
}
strong{
    font-size: 11px;
}
div p, .I{
    font-size: 13px;
    color: #555;
    display: inline-block;
}
div .borderHeader{
    border-bottom: 2px solid #20639B;
    margin: 10px 0 0;
}
div .borderHeader2{
    border-bottom: 3px solid #20639B;
    margin: 5px 0 0;
}
.table{
    border: 1px solid #C8C8C8;
}
.sec1{
    width: 15%;
}
.sec2{
    width: 20%;
}
.sec3, .sec4, .sec5, .sec6, .sec7, .sec8, .sec9 {
    width: 15%;
}
.sec7Especial{
    width: 30%;
}
.sec8Especial{
    width: 30%;
}
.subheader{
    border-bottom: 3px solid #20639B;
    width:100%;
    height: 4px;
}
.logo{
    color: #C8C8C8;
}
.dados{
    text-align: center;
    font-size: 12px;
    display: flex;
    margin-top: 10px;
    background: #C8C8C8;
    color: #20639B;
}
.segurado{
    align: center;
    border: 3px solid #20639B;
}
.text{
    text-align:justify;
    margin: 10px 0 10px;
}
text2{
    text-align:justify;
    margin: 10px 0 10px;
    color: #000000 !important;
}
.important{
    color: red;
}
.firm{
    text-align: center;
    display: flex;
}
.firm2{
    width: 99%;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
}
.firmSize{
    width: 49%;
}
.firmLine{
    padding-top: 30px;
    text-align: center;
}
#DivLateral{
    position:relative;
    border-width:2px;
    width:60%;
    float: left;
}
#DivA{
    position: relative;
    border-width:2px;
    width: 40%;
    left:0px;
    float: left;
}
.topCabecalho{
    margin-top: 15px;
}
table.garantias thead, table.garantias tr, table.garantias tfoot{
    display: flex;
    flex-wrap: wrap;
}
table.garantias .cell-cobertura-name{
    width: 40%;
}
table.garantias .cell-capital{
    text-align: center;
    width: 15%;
}
table.garantias .cell-premio-liquido{
    text-align: center;
    width: 15%;
}
table.garantias .cell-valor-iof{
    text-align: center;
    width: 15%;
}
table.garantias .cell-premio{
    text-align: center;
    width: 15%;
}
table.garantias td, table.garantias th{
    padding: 4px;
}
table.garantias thead, table.garantias tfoot{
    background-color: #d0ccb4;
    font-weight: bold;
}
.dados-corretor{
    font-size: 13px;
    display: flex;
    flex-direction: column;
}
.dados-corretor .row{
    display: flex;
    flex-wrap: warp;
}
.dados-corretor .row .large{
   width: 70%
}
.dados-corretor .row .small{
   width: 30%
}
.dados-corretor table {
    border-bottom: solid 0.5px;
    margin-top: 3px;
}
.dados-corretor table td{
    border-top: solid 0.5px;
    padding: 3px;
}
