body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    background-color: #efefef;
}

table{
    border-collapse:collapse;
}

#principal, .principal{
    width:600px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;

}

#principal img{
    display: inline-block;
}

.ola{
    padding:10px 30px 1px 30px;
    text-align: justify;
}

.nome {
    font-size:20px; 
    line-height:26px; 
    color:#00adee;
} 

.agradecimento{
    font-size:15px; 
    line-height:18px;
}

.center{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.acesse a{
    text-decoration:none;
}

.acesse p{
    color:#ffffff; 
    font-size:14px;
    background:#00adee;
    width:200px;
    padding:15px 0px;
}

.dados{
    padding:0px 30px 30px 30px;
}

.dados table {
    width: 100%;
}

.dados td{
    padding-bottom:0px;
    border-bottom:1px solid #919191;
    text-align: justify;
}

.dados p{
    font-size:15px;
}

.clube-container {
    background-color: #f1f5fa;
}

.clube-cliente {
    font-size:15px;
    text-align: left;
}

.clubeporto {
    padding:30px 0px;
}

.clube-parte a{
    text-decoration:none;
}

.clube-parte p {
    font-size:15px;
    text-align:center;
    color:#ffffff;
    background:#00adee;
    width:200px;
    padding:15px;
    margin-top:0px;"
}

.conte {
    padding: 0px 30px 30px 30px;
}

.conte table {
    width: 100%;
}

.conte td {
    border-bottom:1px solid #919191;
}

.conte-conosco {
    font-size:15px;
}

.conte-corretor {
    color:#00adee;
}

.conte-porto {
    font-size:20px;
}

.conte-vida {
    color:#e528a9;
}

#rodape-2016 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#rodape-2016 td{
    padding: 10px;
}

#rodape-2016 img{
    display: inline-block;
}

#rodape-2016 .links {
    border-top: #b0b0b0 1px solid;
    border-bottom: #b0b0b0 1px solid;
    background-color: #F0F0F0;
    text-align: center;
}

#rodape-2016 .links .link {
    font-family:Arial, Helvetica, sans-serif; 
    font-size:12px; 
    color:#5e5e5e;
}

#rodape-2016 .links .link a {
    color:#5e5e5e;
}

#rodape-2016 .links table{
    width: 24%;
    display: inline-flex;
    justify-content: center
}

.informacoes{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #b0b0b0;
    padding: 10px 20px 20px 20px !important;
    text-align: justify;
}

.contato {
    color: #5e5e5e;
    padding-top: 20px !important;
}

.chat {
    color:#b0b0b0
}

.pedido {
    font-size: 14px;
    line-height: 20px;
    font-family: tahoma,geneva,sans-serif;
}

.columns{
    float:left;
}

@media screen and (max-width:600px) {
    #principal, .principal{
        width:100%;
    }
    
    #rodape-2016 {
        width:100%;
    }
    
    .rodape-2016-divisao {
        float:left;
        width:100%;
        margin:0px auto 20px auto;
    }
    
    .columns{
        width:100%;
    }
    
    .alingweb-mob{
        text-align:center;
    }

    .displaynone{
        display:none;
    }
}