.slds-card {
    background-color: #f6f8fa;
    border-radius: 0.25rem;

}

.slds-card__header {
    font-size: 1.2rem;
    font-weight: bold;
    background: #f3f3f3;
    padding-top: 1rem !important;
    padding-bottom:1.2rem !important;
    margin-bottom: 0 !important;
    border-radius: 0.25rem;
}

.slds-media__body {
    height: 24px;
    padding-top: 2px;
}

.title-text {
    vertical-align: middle;
}

.item-line {
    margin-bottom:12px;
}

.slds-card__body {
    border-top: 1px solid #c9c9c9;
    padding: 1rem !important;
    margin: 0 !important;
    background: #ffffff;
}

.item-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}