.THIS .container-form {
    height: auto;
    overflow: auto;
    border: 1px solid #DDDBDA;
    padding: 2px 40px;
}

.THIS.invisivel, .THIS .invisivel {
	display: none;
}

.THIS.escondido, .THIS .escondido {
	visibility: hidden;
}

.THIS .slds-form-element {
    margin: 12px 0;
}