.THIS  {
   width: 100%;
   position: absolute;
   left: 1px;
}

.THIS .slds-p-around--medium{
	padding: 0;
}

.THIS .div-btn-novo {
    text-align: left;
}

.THIS .btn-novo{
	background: white;
}

.THIS .slds-scrollable{
	min-height: 315px;
	max-height: 315px;
}

.THIS .slds-combobox__form-element, .THIS .slds-listbox{

}

.THIS input[type="text"], .THIS .slds-combobox__form-element, .THIS .slds-combobox, .THIS .slds-combobox_container {
	width: 160px;
}

.THIS .excluir {
	border: none;
    background: transparent;
}