.THIS .slds-p-around_medium, .THIS .slds-p-around--medium {
    padding-bottom: 17em;
}

.THIS .slds-size_small, .THIS .slds-size--small {
    width: 20rem;
}

.THIS .slds-input {
	line-height: 4.455rem;
}