.slds-modal__container {
    /* max-width: 30rem;  
    max-height: 15rem; 
    overflow: hidden; 
    margin: 0 auto;  */
}

.slds-modal__content {
    /* overflow: hidden; Evita rolagem dentro do conteúdo do modal */
    /* text-align: center; Centraliza o texto */
}

.slds-modal__footer {
    /* display: flex; */
    /* justify-content: center; Centraliza o botão "Fechar" */
}

.slds-button_neutral {
    /* background-color: #0070d2; Cor azul SLDS */
    /* border-color: #0070d2; */
}