.THIS {
	
}
.THIS .wk_warning {
    background : #FFB75D !important;
}
.THIS .wk_success {
    background : #04844B !important;
} 

.THIS .slds-spinner_container {
	background: none;
    
}

.THIS .slds-button {
	position: relative;
    float: right;
}
.THIS .centralizadiv
{
    text-align: center;
}

.THIS .validabanco {
	margin-bottom: 15px;

}

.THIS .titulo{
	text-align: center;
    font-size: 16px;
    font-style: bold;
}

.THIS .status {
	padding: 0px;
    opacity: 0.7;
}

.THIS  h1{
    font-size: 18px; 
}

.THIS .slds-m-around_xx-large {
	min-height:170px !important;
	margin: 0 auto;
}

.THIS .slds-docked-form-footer{
	z-index: 0 !important;
}

.THIS.slds-modal__header {
margin: 0rem -2rem;
padding: 0 0 1rem 0;
}
.THIS.slds-modal__body {
margin: 0 -2rem;
height: 270px;
align-content: center;
}

.THIS.slds-modal__footer {
margin: 0 -2rem;
   padding: 1.5rem 2.5rem 0 0;
   box-shadow: unset;
   background-color: #fff;
}

.THIS .conta{
  margin-bottom: 15px;

}

.THIS .validacao {
	padding: 10px;
    text-align: center;


}